<!--
  Generated template for the EditperfilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header class="Bg-header">
	<ion-row class="header-row">
		<ion-col col-8 col-lg-9 col-md-9 class="first-col">
			<ion-row>
				<ion-col col-2>
		      		<button class="back-button disable-hover bar-button bar-button-md back-button-md bar-button-default bar-button-default-md show-back-button" ion-button="bar-button" ng-reflect-klass="back-button" ng-reflect-ng-class="back-button-md" (tap)="home()"><span class="button-inner"><ion-icon class="back-button-icon icon icon-md back-button-icon-md ion-md-arrow-back" role="img" ng-reflect-klass="back-button-icon" ng-reflect-ng-class="back-button-icon-md" aria-label="arrow back" ng-reflect-name="md-arrow-back"></ion-icon><span class="back-button-text back-button-text-md" ng-reflect-class="back-button-text" ng-reflect-ng-class="back-button-text-md"></span></span><div class="button-effect"></div></button>
		      	</ion-col>
				<ion-col col-10 col-lg-10 col-md-90>
					<ion-searchbar placeholder="Buscar" class="searchbar-input" style="background-color:transparent;" [(ngModel)]="myInput" [showCancelButton]="false" [animated]="true" [cancelButtonText]="cancelButtonText" [spellcheck]="true">
					</ion-searchbar>
				</ion-col>
			</ion-row>
		</ion-col>
		<ion-col col-4 col-lg-3 col-md-3 class="arrow">
			<img class="club-logo" src="assets/imgs/logo-club.png">
		</ion-col>
	</ion-row>
</ion-header>


<ion-content>
	<ion-grid no-padding>
		<ion-col col-12 class="col-md-height" style="background-color: #133F6D;">
		</ion-col>
		<ion-col col-12 text-center class="contenedor-card-perfil">
			<div class="container">
				<h1 text-center style="font-family:Monserrat;color:white;">Perfil de Usuario</h1>
				<img *ngIf="!profile?.avatar" class="pantalla-1" src="assets/imgs/userperfil.png" alt="Imagen Principal" #myImage (click)="presentImage(myImage)">
				<img *ngIf="profile?.avatar" class="pantalla-1" [src]="img" alt="Imagen Principal" #myImage (click)="presentImage(myImage)">
			</div>
		</ion-col>
		<ion-col col-12 text-center style="margin-top:20%">
			<ion-item style="padding-left:40px;padding-right: 40px;">        
				<ion-label><ion-icon name="create"></ion-icon></ion-label>
				<ion-input [(ngModel)]="Name" type="text"></ion-input>
			</ion-item>
			<ion-item style="padding-left:40px;padding-right: 40px;">        
				<ion-label><ion-icon name="contact"></ion-icon></ion-label>
				<ion-input [(ngModel)]="Dni" type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col col-12 text-center>
			<ion-item style="padding-left:40px;padding-right: 40px;">        
				<ion-label><ion-icon name="call"></ion-icon></ion-label>
				<ion-input [(ngModel)]="Phone" type="text"></ion-input>
			</ion-item>
			<ion-item style="padding-left:40px;padding-right: 40px;">        
				<ion-label><ion-icon name="pin"></ion-icon></ion-label>
				<ion-input [(ngModel)]="Province" type="text"></ion-input>
			</ion-item>
		</ion-col>
		<ion-col col-12 text-center>
			<ion-item style="padding-left:40px;padding-right: 40px;">        
				<ion-label><ion-icon name="pin"></ion-icon></ion-label>
				<ion-input [(ngModel)]="City" type="text"></ion-input>
			</ion-item>
			<ion-item style="padding-left:40px;padding-right: 40px;">        
				<ion-label><ion-icon name="pin"></ion-icon></ion-label>
				<ion-input [(ngModel)]="Domicile" type="text"></ion-input>
			</ion-item>
			<ion-item>
		        <button color="grayLogo" ion-button block icon-left (tap)="lookingPhoto()">
		          <ion-icon name="photos"></ion-icon>
		          Seleccionar Foto
		        </button>
		        <div class="preview" no-padding *ngIf="imgPreview">
					<img class="Img-Preview" [src]="imgPreview">
				</div>
		    </ion-item>
		</ion-col>
		<ion-row text-center class="row-button-cambio" style="padding: 50px;">
			<ion-col col-12>
				<button ion-button class="loginBtn loginBtn--Perfil" (tap)="UpdateProfile()">
					Guardar Cambios
				</button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
