page-beneficio {
	// Main Header
	.searchbar-md .searchbar-search-icon {
		left: 25px;
		top: 4px;
		width: 21px;
		height: 21px;
	}
	.searchbar-ios .searchbar-input{
		background: #fff !important;
		border-radius: 28px;
	}
	.searchbar-ios{
		width: 100%;
	}
	.toolbar-md {
		padding: 0px;
		min-height: 56px;
	}
	.toolbar-ios{
		padding: 0px;
		min-height: 56px;
	}
	.button-inner{
		color:white;
	}
	.toolbar-background-md {
		border-color: #b2b2b2;
		background: #133F6D;
	}
	.toolbar-background-ios {
		border-color: #b2b2b2;
		background: #133F6D;
	}
	.box-shadow{
		content: "";
	}
	.searchbar-md .searchbar-input {
		margin-top: -5px;
		margin-left: 20px;
		padding: 0px 22px;
		border-radius: 28px;
		border: 2px solid #2CB5E8;
		background-position: left 8px center;
		height: 37px;
		font-size: 1.6rem;
		font-weight: 400;
		line-height: 0rem;
		color: #141414;
		background-color: #fff;
		-webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
	}
	.header-md::after, .tabs-md[tabsPlacement="top"] > .tabbar::after, .footer-md::before, .tabs-md[tabsPlacement="bottom"] > .tabbar::before{
		display:none;
	}
	.Bg-header{
		background-color: #133F6D;
	}
	.header-row{
		height: 60px;
	}
	.first-col{
		background-color: #133F6D;
		height:60px;
	}
	.icon-category{
		width: 35px;
		height: 40px;
	}
	.arrow{
		z-index:999;
		background-color: #00A0E3;
		clip-path: polygon(40% 0, 100% 0%, 100% 100%, 40% 100%, 20% 51%);		
		height:64px;
	}
	.club-logo{
		width: 54%;
		margin-left: 42px;
		margin-top: 11px;
	}
	// Main Header End

	.card-style{
		margin-top: 2%;
		// margin-bottom:8%;
		border-left:4px solid #001E42;
		background-color:white;
		box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
		border-radius:2px;
	}
	.img-beneficio{
		float:left; 
		margin:10px;
		width:100px;
		max-width:100px;
	}
	.title-offer{
		font-family: Monserrat;
	}
	.text-offert{
		font-family: Sueca-medium;
		line-height: 20px;
	}
	.row-map{
		width:100%;
	}
	.contenedor-map2{
		width:100%;
		height:300px;
	}
	#map2{
		width: 100%;
		height: 100%;
		border-top: 2px groove;
		border-bottom: 2px groove;
		padding: 135px;
	}
	@media only screen and (min-width: 1201px) and (max-width: 1400px) {
		// Main-header 
		.ion-ios-menu:before {
			content: "\f1c3";
			font-size: 30px;
		}
		.club-logo {
			width: 46% !important;
			margin-left: 89px !important;
			margin-top: 0px;
		}
		.ion-md-menu:before {
			content: "\f32a";
			font-size: 30px;
		}
		.searchbar-input-container {
			margin-top: 6px;
		}
		.ion-ios-menu:before {
			content: "\f1c3";
			font-size: 40px;
		}
		.searchbar-ios .searchbar-input{
			font-size: 2.4rem;
			margin-top: 0px;
		}
		.searchbar-md .searchbar-input {
			margin-top: 0px;
			font-size: 1.8rem;
			font-weight: 400;
		}
		.Header-title{
			padding: 0px 0 0 67px;
			margin-top: 15px;
			font-size: 21px;
		}
		.title-segment{
			font-size: 2.8rem;
		}
		ion-toolbar.scrollable-segments ion-segment ion-segment-button.segment-button {
			display: inline-block;
			// width: auto;
			height: 35%;
		}
		.arrow{
			-webkit-clip-path: polygon(36% 0, 100% 0%, 100% 100%, 38% 100%, 20% 51%);
			clip-path: polygon(36% 0, 100% 0%, 100% 100%, 38% 100%, 20% 51%);
		}
		// Main-header End
		// Page cercanos a Mi
		.contenedor-map{
			height: 550px;
		}
		.row-card{
			height: auto;
		}
		.card-style{
			margin-bottom:2%;
		}
		ion-avatar,ion-thumbnail {
			margin-top: 14px;
			padding-left: 43px;
		}
		.title-offert{
			font-size: 3.8rem;
		}
		.text-offert{
			font-size: 24px;
		}
		.font-text{
			font-size:27px;
		}
		// Page cercanos a Mi End
		// Page Search
		.slider{
			height: 450px;
		}
		.list-category{
			margin-top:2%;
		}
		.title-category{
			font-size: 23px !important;
		}
		.icon-category {
			width: 44px;
			height: 47px;
		}
		// Page Search End
		// Page Novedades
		.circle-day{
			width: 65px;
			height:65px;
		}
		.row-day{
			padding-top: 6px;
		}
		.day-text-style{
			font-size:20px;
			font-weight: bold;
		}
		.month-text-style{
			font-size:17px;
			font-weight: bold;
		}
		.hr-novedades {
			height:3px;
			left: -298px;
			top: 322px;
			width: 660px;
		}
		.title-card-novedades{
			font-size:27px;
		}
		.text-noticia{
			font-size:22px;
		}
		.text-autor-novedades{
			font-size:25px;
		}
		.container-novedades .img-noticias {
			min-width: 800px;
			max-width: 100%;
			min-height: 162px;
		}
		.title-background {
			margin:auto;
			max-width: 800px;
		}
		.social-button{
			width: 50px;
			height: 50px;
		}
		.social-logo {
			padding: 10px;
			font-size: 27px;
		}
		// Page Novedades End
	}
	@media only screen and (min-width: 993px) and (max-width: 1200px) {
		// Main-header 
		.ion-ios-menu:before {
			content: "\f1c3";
			font-size: 30px;
		}
		.club-logo {
			width: 56% !important;
			margin-left: 68px !important;
			margin-top: 3px;
		}
		.ion-md-menu:before {
			content: "\f32a";
			font-size: 30px;
		}
		.searchbar-input-container {
			margin-top: 6px;
		}
		.searchbar-ios .searchbar-input{
			font-size: 1.8rem;
			margin-top: 0px;
		}
		.searchbar-md .searchbar-input {
			margin-top: -10px;
			font-size: 1.8rem;
			font-weight: 400;
		}
		.Header-title{
			padding: 0px 0 0 67px;
			margin-top: 15px;
			font-size: 21px;
		}
		.title-segment{
			font-size: 2.8rem;
		}
		ion-toolbar.scrollable-segments ion-segment ion-segment-button.segment-button {
			display: inline-block;
			// width: auto;
			height: 35%;
		}
		.arrow{
			-webkit-clip-path: polygon(36% 0, 100% 0%, 100% 100%, 38% 100%, 20% 51%);
			clip-path: polygon(36% 0, 100% 0%, 100% 100%, 38% 100%, 20% 51%);
		}
		// Main-header End
		// Page cercanos a Mi
		.list {
			margin-top: 20px;
			margin-bottom: -10px;
		}
		.title-filtro{
			font-size: 18px;
		}
		.button-aplicar{
			font-size: 2.0rem;
			height: 33px;
			margin-left:30px;
		}
		.contenedor-map{
			height: 550px;
		}
		.card-style{
			margin-bottom:5%;
		}
		ion-avatar,ion-thumbnail {
			margin-top: 14px;
			padding-left: 43px;
		}
		.title-offert{
			font-size: 2.8rem;
		}
		.text-offert{
			font-size:18px;
		}
		.font-text{
			font-size:27px;
		}
		// Page cercanos a Mi End
		// Page Search
		.slider{
			height: 450px;
		}
		.list-category{
			margin-top:2%;
		}
		// Page Search End
		// Page Novedades
		.circle-day{
			width: 65px;
			height:65px;
		}
		.row-day{
			padding-top: 6px;
		}
		.day-text-style{
			font-size:20px;
			font-weight: bold;
		}
		.month-text-style{
			font-size:17px;
			font-weight: bold;
		}
		.hr-novedades {
			height: 3px;
			left: -264px;
			top: 290px;
			width: 590px;
		}
		.title-card-novedades{
			font-size:27px;
		}
		.text-noticia{
			font-size:22px;
		}
		.text-autor-novedades{
			font-size:25px;
		}
		.container-novedades .img-noticias {
			min-width: 876px;
			max-width: 876px;
			max-height: 415px;
			min-height: 415px;
		}
		.title-background {
			margin:auto;
			max-width: 876px;
		}
		.social-button{
			width: 50px;
			height: 50px;
		}
		.social-logo {
			padding: 10px;
			font-size: 27px;
		}
	}
	@media only screen and (min-width: 768px) and (max-width: 992px){
		// Main-header 
		.ion-ios-menu:before {
			content: "\f1c3";
			font-size: 30px;
		}
		.searchbar-md .searchbar-search-icon {
			left: 25px;
			top: 9px;
			width: 21px;
			height: 21px;
		}
		.ion-md-menu:before {
			content: "\f32a";
			font-size: 30px;
		}
		.ion-ios-menu:before {
			content: "\f1c3";
			font-size: 30px;
			margin-top: -9px;
			margin-left: -8px;
		}
		.searchbar-input-container {
			margin-top: 0px;
		}
		.searchbar-ios .searchbar-input{
			font-size: 1.8rem;
			margin-top: 0px !important;
		}
		.searchbar-md .searchbar-input {
			margin-top: 0px !important;
			font-size: 1.8rem;
			font-weight: 400;
		}
		.Header-title{
			padding: 0px 0 0 35px;
			margin-top: 15px;
			font-size: 21px;
		}
		.title-segment{
			font-size: 2.2rem;
		}
		.arrow{
			-webkit-clip-path: polygon(36% 0, 100% 0%, 100% 100%, 38% 100%, 20% 51%);
			clip-path: polygon(36% 0, 100% 0%, 100% 100%, 38% 100%, 20% 51%);
		}
		// Main-header End
		// Page cercanos a Mi
		.title-filtro{
			font-size: 18px;
		}
		.button-aplicar{
			font-size: 2.0rem;
			height: 33px;
			margin-left:30px;
		}
		.list-header-acc{
			font-size:24px;
		}
		.contenedor-map{
			height: 550px;
		}
		.card-style{
			margin-bottom:5%;
		}
		ion-avatar,ion-thumbnail {
			margin-top: 14px;
			padding-left: 43px;
		}
		.title-offert{
			font-size: 2.8rem;
		}
		.text-offert{
			font-size:18px;
		}
		.font-text{
			font-size:27px;
		}
		// Page cercanos a Mi End
		// Page Search
		.slider{
			height: 450px;
		}
		.list-category{
			margin-top:2%;
		}
		// Page Search End
		// Page Novedades
		.hr-novedades {
			height:3px;
			left: -256px;
			top: 268px;
			width: 550px;
		}
		.title-card-novedades{
			font-size:24px;
		}
		.text-noticia{
			font-size:18px;
		}
		.text-autor-novedades{
			font-size:20px;
		}
		.container-novedades .img-noticias {
			min-width: 620px;
			max-width: 620px;
			max-height: 370px;
			min-height: 370px;
		}
		.title-background {
			margin:auto;
			max-width: 620px;
		}
		.social-button{
			width: 40px;
			height: 40px;
		}
		.social-logo {
			padding: 10px;
			font-size: 24px;
		}
		// Page Novedades End
	}
	@media (min-width: 501px) and (max-width: 767px) {
		.club-logo {
			margin-left: 70px;
			margin-top: 4px;
		}
	}
	@media (min-width: 401px) and (max-width: 500px) {
		// Main-header
		.Header-title {
			padding: 0px 0 0 56px;
			margin-top: 19px;
			font-size: 17px;
		}
		.club-logo {
			width: 54%;
			margin-left: 57px;
			margin-top: 11px;
		}
		.searchbar-ios{
			margin-top:6px;
		}
		.ion-ios-menu:before {
			content: "\f1c3";
			font-size: 30px;
			margin-top: -9px;
			margin-left: -8px;
		}
	}
	@media (min-width: 375px) and (max-height: 667px){
		.title-background {
			margin:auto;
			width: 100%;
		}
	}
	@media screen and (min-width: 320px) and (max-height: 640px) {
		// Main-header
		.Header-title {
			padding: 0px 0 0 84px;
			margin-top: 13px;
			font-size: 23px;
		}
		.club-logo{
			width: 39%;
			margin-left: 103px;
			margin-top: 5px;
		}
		.searchbar-ios{
			margin-top:6px;
		}
		.ion-ios-menu:before {
			content: "\f1c3";
			font-size: 30px;
			margin-top: -9px;
			margin-left: -8px;
		}
	}
	@media (max-width: 320px) and (min-height: 568px) {
		.club-logo {
			width: 60% !important;
			margin-left: 40px !important;
			margin-top: 5px;
		}
	}
	@media (max-width: 400px) and (orientation: portrait) {
		// Main-header
		.Header-title{
			padding: 0px 0 0 39px; 
			margin-top:20px;
			font-size: 15px;
		}
		.searchbar-ios{
			margin-top:6px;
		}
		.ion-ios-menu:before {
			content: "\f1c3";
			font-size: 30px;
			margin-top: -9px;
			margin-left: -8px;
		}
		.club-logo{
			width: 54%;
			margin-left: 49px;
			margin-top: 11px;
		}
	}
}
